@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');

body {
    background-color: #333333;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    user-select: none;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    background: #222222;
    width: 350px;
    height: 350px;
    border-radius: 15px;
}

#form {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

#form * {
    margin: 2px;
    color: #ffffff;
}

#enteries-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 25px;
}

#enteries-container label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#enteries-container a {
    flex: 2;
}

#radio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 25px;
}

#buttons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

#buttons-container * {
    margin: 5px;
    background-color: #555555;
    color: #ffffff;
    cursor: pointer;
}

input {
    border-radius: 5px;
    background-color: #444444;
    color: #ffffff;
}
